{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "modules": false
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": { "node": "current" },
            "useBuiltIns": "entry"
          }
        ]
      ]
    }
  },
  "plugins": [
    "@babel/proposal-object-rest-spread"
  ]
}
