/*
    Theme
-------------------------------
*/

:root {
  --header-height: calc(var(--unit) * 4);
}

[v-cloak] {
  display: none;
}

.menubar-infos {
  padding-top: 0;
  padding-bottom: var(--unit-s);
}

.btn-menubar {
  button-color: var(--color-bg) var(--color-inverse) var(--color-bg);
  button-background: var(--color-transparent) var(--color-alt)
    var(--color-highlight);
  font-weight: 700;
  height: 3rem;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.content {
  overflow-y: scroll;
  flex: 1 1 auto;
}

.messages {
  bottom: 0;
}

.dropdown {
  margin-bottom: var(--unit);
  background-color: var(--color-alt);
}

.menubar-infos {
  margin-top: var(--unit-m);
}

.annotation {
  background-color: rgba(255, 0, 0, 0.5);
}

.handle {
  width: 32px;
  background-color: yellow;
  cursor: ew-resize;
}

.handle-right {
  right: -32px;
  top: 0;
  bottom: 0;
}

.handle-left {
  left: -32px;
  top: 0;
  bottom: 0;
}

.handle-topleft {
  top: 0;
  left: 0;
  height: 32px;
}

.handle-bottomright {
  bottom: 0;
  right: 0;
  height: 32px;
}

.timeline-cursor {
  left: 50%;
  transform: translateX(-50%);
  width: var(--unit-line);
  background-color: var(--color-brand);
  top: 0;
  bottom: 0;
}

.timeline-annotations {
  z-index: 0;
}

.annotation {
  top: 0;
  bottom: 0;
  text-align: center;
}

.annotation.active {
  z-index: 1;
  background-color: rgba(255, 0, 0, 1);
}

.popup-header {
  height: calc(4 * var(--unit));
  border-bottom-width: var(--unit-xxs);
  border-bottom-style: solid;
  border-bottom-color: var(--color-alt);
  margin-bottom: calc(-1 * var(--unit-xxs));
}

.popup-content {
  height: calc(100% - 4 * var(--unit));
  overflow-y: auto;
}

@media (--viewport-tablet) {
  --header-height: calc(var(--unit) * 2);

  .menubar-infos {
    padding-top: var(--unit-m);
    margin-top: 0;
  }

  .popup {
    width: calc(2 * var(--col-width) - var(--gutter));
    transform: translate(-50%, 0);
    top: var(--header-height);
    left: 50%;
    right: auto;
    bottom: auto;
    z-index: 2;
    border-radius: var(--unit-xs);
  }

  .messages {
    width: calc(2 * var(--col-width) - var(--gutter));
  }

  .dropdown {
    position: absolute;
    right: var(--gutter);
    top: 0;
  }
}
